* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.outer-container {
    width: 98vw;
    min-height: 96vh;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    background-color: lightcyan;
    border-radius: 0.8rem;
}

.top-content {
    width: 100%;
    height: 12vh;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(46, 91, 240, 0.4) 0px 2px, rgba(46, 91, 240, 0.3) 0px 4px, rgba(46, 91, 240, 0.2) 0px 6px, rgba(46, 91, 240, 0.1) 0px 8px, rgba(240, 46, 170, 0.05) 0px 10px;
}

.top-content>* {
    margin: 0.8rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 20rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-content>button {
    width: 8vw;
    font-weight: 700;
    background-color: rgb(68, 108, 240);
    color: white;
    cursor: pointer;
}

.itemTitleInput {
    padding-left: 1.5rem;
    width: 18vw;
}

.mainContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    margin-top: 2rem;
    width: 45vw;
    border-radius: 1rem;
    background-color: rgba(46, 91, 240, 0.2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.itemTitle {
    padding: 1rem;
    width: 100%;
    height: 8vh;
    background-color: rgb(68, 108, 240);
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.itemTitle>div {
    display: flex;
}

.itemTitle>div>* {
    margin: 0.2rem;
}

.editTitle, .addDesc {
    height: 3rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(68, 108, 240);
    background-color: white;
    outline: none;
    border: none;
    border-radius: 20rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

#delItem {
    cursor: pointer;
}

.editTitleInput {
    padding: 0.8rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 20rem;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}